.ascend,
.descend {
    border-radius: 5px;
    padding: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 1px;
    font-size: medium;
    font-weight: bold;
    color: orange;
}

.ascend {
    margin-left: 10px;
}

.tableHeader {
    padding: 25px;
    font-size: 20px;
    color: orange;
}