#searchInput {
    border-radius: 10px;
    text-align: center;
    border-color: lightblue;
}

.searchTitle {
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    margin-top: 20px;
}

#searchBtn,
#clearBtn {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
